
 <div class="container  jumbotron">
   
        <ul class="list-group" >
            <li class="list-group-item active">
             
              </li>
              <li class="list-group-item" *ngFor="let lecture of lectureList">
             
              
              <span>{{lecture.name}}</span>
            </li>
          </ul>
        
            
                <h1>ADD Lecture</h1>
               
                 
                 
                   
                      <label for="name">Name</label>
                      <input #name type="text"  required>
                 
                      <p></p>

                      <p></p>
                      
                           <label for="exampleSelect1">Select Subject</label>
                           <select  [(ngModel)]="subjectId" >
                             <option  *ngFor="let subject of subjectList" [(ngValue)]='subject.id'>{{subject.name}}</option>
                           </select>
     
                      
                           <p></p>
   
                           <p></p>
                     

                    <button type="submit" class="btn btn-success" (click)="addLecture(name.value)">Submit</button>
                   
                   
              
                 
             
                
        </div> 
  





        




